* ,html,
body ,#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff7ed;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;

}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}




